{% extends 'base.html' %}
{% load staticfiles %}
{% load version %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'login/css/contact.css' %}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- mr-auto specifies the right margin; as left as possible -->
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <span class="fas fa-home"></span> Home</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/autocheckin">
                                <span class="fas fa-plane-departure"></span> Add Reservation</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link active" href="/contact">
                            <span class="fas fa-address-card"></span> Contact</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="logout-link">
                            <span class="fas fa-sign-out-alt"></span> Log out
                        </a>
                    {% else %}
                        <a data-toggle="modal" data-target="#loginModal">
                            <span class="fas fa-sign-in-alt"></span> Login
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>

    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title ml-auto">login </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/contact/" method="post">
                        {% csrf_token %}
                        <div class="form-row modal-row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                {% for message in messages %}
                                    {% if message.extra_tags == 'login-alert' %}
                                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="login-alert">
                                          <span class="alert-text">
                                            {{ message }}
                                          </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    {% endif %}
                                {% endfor %}

                                {% if login_form.errors %}
                                    {% for field in login_form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger alert-dismissible">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in login_form.non_field_errors %}
                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                          <span class="alert-text">
                                            {{ error|escape }}
                                          </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                <a>Enter your credentials below to access this service</a>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ login_form.username }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ login_form.password }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row  modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                {{ login_form.remember_me }}
                                {{ login_form.remember_me.label_tag }}
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-warning" value="login" name="action">Sign in</button>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </form>
                    <br>
                    <!-- Help links -->
                    <div class="etc-custom-form">
                        <p>new user? <a href="#" data-toggle="modal" data-target="#registerModal">register</a><br>
                            forgot your password? <a href="{% url 'password_reset' %}">click here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="registerModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title ml-auto">register </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/contact/" method="post">
                        {% csrf_token %}
                        <div class="form-row modal-row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                {% for message in messages %}
                                    {% if message.extra_tags == 'register-alert' %}
                                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="register-alert">
                                              <span class="alert-text">
                                                {{ message }}
                                              </span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                    {% endif %}
                                {% endfor %}

                                {% if register_form.errors %}
                                    {% for field in register_form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger alert-dismissible">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in register_form.non_field_errors %}
                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                          <span class="alert-text">
                                            {{ error|escape }}
                                          </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                <a>Fill out the form below to request the creation of your account</a>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.first_name }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.last_name}}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.email_address }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.username }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.password }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.confirm_password }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.invitation_code }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.toa }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.toa.label_tag }}</div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-warning" value="register" name="action">Sign in</button>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </form>
                    <br>
                    <!-- Help links -->
                    <div class="etc-custom-form">
                        <p>already have an account? <a href="/login/" data-dismiss="modal">login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="jumbotron-fluid">
        <div class="row row-header">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2 class="jumbotron-title">Southwest Watchdog</h2>
                <p class="jumbotron-subtitle">Optimizing your Southwest® flying experience</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </header>
    <div class="container contact_container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/login">Home</a>
                </li>
                <li class="breadcrumb-item active">Contact Us</li>
            </ol>
            <div class="col-12" id="feedback-header">
                <h3>Contact Form</h3>
                <hr>
            </div>
        </div>
        <div class="row row-content" id="contact_form">
            <div class="col-12">
                <h5>Fill out and submit this form to reach out to us<br><br></h5>

                {% for message in messages %}
                    {% if message.extra_tags == 'contact-success' %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          <span class="alert-text">
                            {{ message }}
                          </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endif %}
                {% endfor %}

                <form action="/contact/" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                        <div class="col-md-10" id="firstname">
                            {% if contact_form.initial.first_name %}
                                {{ contact_form.initial.first_name }}
                            {% else %}
                                {{ contact_form.first_name }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row" id="lastname">
                        <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-10" id>
                            {% if contact_form.initial.last_name %}
                                {{ contact_form.initial.last_name }}
                            {% else %}
                                {{ contact_form.last_name }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10" id="email">
                            {% if contact_form.initial.email_address %}
                                {{ contact_form.initial.email_address }}
                            {% else %}
                                {{ contact_form.email_address }}
                            {% endif %}

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-md-2 col-form-label">Your Feedback</label>
                        <div class="col-md-10" id="feedback">
                            {{ contact_form.feedback }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-warning"  value="contact" name="action">
                                Send Feedback
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if($("#login-alert").length) {
                $('#loginModal').modal('show');
            }
            if($("#register-alert").length) {
                $('#registerModal').modal('show');
            }
        });
    </script>​
{% endblock content %}
