{% extends 'base.html' %}
{% load staticfiles %}
{% load version %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- mr-auto specifies the right margin; as left as possible -->
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">
                            <span class="fas fa-home"></span> Home</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/autocheckin">
                                <span class="fas fa-plane-departure"></span> Add Reservation</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">
                            <span class="fas fa-address-card"></span> Contact</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="logout-link">
                            <span class="fas fa-sign-out-alt"></span> Log out
                        </a>
                    {% else %}
                        <a data-toggle="modal" data-target="#loginModal">
                            <span class="fas fa-sign-in-alt"></span> Login
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>

    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title ml-auto">login </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <div class="form-row modal-row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                {% for message in messages %}
                                    {% if message.extra_tags == 'login-alert' %}
                                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="login-alert">
                                          <span class="alert-text">
                                            {{ message }}
                                          </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    {% endif %}
                                {% endfor %}

                                {% if login_form.errors %}
                                    {% for field in login_form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger alert-dismissible">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in login_form.non_field_errors %}
                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                          <span class="alert-text">
                                            {{ error|escape }}
                                          </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                <a>Enter your credentials below to access this service</a>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ login_form.username }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ login_form.password }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row  modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                {{ login_form.remember_me }}
                                {{ login_form.remember_me.label_tag }}
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-warning" value="login" name="action">Sign in</button>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </form>
                    <br>
                    <!-- Help links -->
                    <div class="etc-custom-form">
                        <p>new user? <a href="#" data-toggle="modal" data-target="#registerModal">register</a><br>
                            forgot your password? <a href="{% url 'password_reset' %}">click here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="registerModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title ml-auto">register </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <div class="form-row modal-row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                {% for message in messages %}
                                    {% if message.extra_tags == 'register-alert' %}
                                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="register-alert">
                                              <span class="alert-text">
                                                {{ message }}
                                              </span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                    {% endif %}
                                {% endfor %}

                                {% if register_form.errors %}
                                    {% for field in register_form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger alert-dismissible">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in register_form.non_field_errors %}
                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                          <span class="alert-text">
                                            {{ error|escape }}
                                          </span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                <a>Fill out the form below to request the creation of your account</a>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.first_name }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.last_name}}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.email_address }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.username }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.password }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.confirm_password }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.invitation_code }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.toa }}</div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">{{ register_form.toa.label_tag }}</div>
                            <div class="col-sm-3"></div>
                        </div>

                        <div class="form-row modal-row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-warning" value="register" name="action">Sign in</button>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </form>
                    <br>
                    <!-- Help links -->
                    <div class="etc-custom-form">
                        <p>already have an account? <a href="/login" data-dismiss="modal">login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="jumbotron-fluid">
        <div class="row row-header">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2 class="jumbotron-title">Southwest Watchdog</h2>
                <p class="jumbotron-subtitle">Optimizing your Southwest® flying experience</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {% for message in messages %}
                    {% if message.extra_tags == 'forgotpassword-alert' %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="forgotpassword-alert">
                          <span class="alert-text">
                            {{ message }}
                          </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <div class="container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item carousel-img-1 active">
                    <!-- <img class="d-none d-sm-block img-fluid carousel-img" src="{% static 'login/images/boarding_pass.png' %}" alt="boardingpass" style="height: 100%;"> -->
                    <div class="carousel-caption d-block carousel-caption-long">
                        <h3 class="carousel-header">Automatic Flight Check-In</h3>
                        <p class="carousel-text">Maximize your odds of A-list boarding. We automatically check in for you exactly 24 hours before flight departure time.
                            Input your reservation details and don't stress about checking in again.</p>
                    </div>
                </div>
                <div class="carousel-item carousel-img-2">
                    <!--- <img class="d-none d-sm-block img-fluid" src="{% static 'login/images/low_fare_calendar.png' %}" alt="lowfarecalendar" style="height: 100%;"> -->
                    <div class="carousel-caption d-block carousel-caption-long">
                        <h3 class="carousel-header">Credit reimbursement on fare drops</h3>
                        <p class="carousel-text">Worrying about the best time to book your flights is a thing of the past.
                            Book as soon as your travel dates are set. If the cost of your flight drops, we will automatically
                            rebook it to earn you future flight credit.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block carousel-caption-long">
                        <h1 class="carousel-header-count">{{ check_in_count }}</h1>
                        <p class="carousel-text">Boarding passes delivered to date.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <div class="btn-group" id="carouselButtons">
                <button class="btn btn-default btn-sm" id="carouselButton">
                    <span class="fas fa-pause"></span>
                </button>
            </div>
         </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="col-2"></div>
            <div class="col-8"></div>
                <a>Last Updated:</a> {% last_modified %}
            <div class="col-2"></div>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#carouselButton').click(function () {
                if ($('#carouselButton').children('svg').hasClass('fa-pause')) {
                      $('#mycarousel').carousel({
                        pause: true,
                        interval: false,
                      });
                    $('#carouselButton').children('svg').removeClass('fa-pause')
                    $('#carouselButton').children('svg').addClass('fa-play')
                    console.log('pause');
                }
                else {
                    $('#mycarousel').carousel({
                        pause: true,
                        interval: 10000,
                     });
                    $('#carouselButton').children('svg').removeClass('fa-play')
                    $('#carouselButton').children('svg').addClass('fa-pause')
                    console.log('move');
                }
            });

            if($("#login-alert").length) {
                $('#loginModal').modal('show');
            }
            if($("#register-alert").length) {
                $('#registerModal').modal('show');
            }
        });
    </script>​
{% endblock content %}
