html, body {
    font-family: 'Varela Round';
    text-align: center;

    background: white no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    background-position: center 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e2e2e2;

    /* Text styling*/
    font-family: 'Varela Round';
    text-align: center;
    font-size: 12px;
    padding: 8px;
}

.custom-form {
    /* Allow absolute centering of children */
    position: relative;

    text-align: center;

    /* Center with top margin to offset header */
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;

    /* Add some blank space above and below text */
    padding-top: 25px;
    padding-bottom: 20px;

    /* Sizing */
    max-width: 450px;
    width: 100%;

    /* Transparent background */
    background-color: #ffffff;
    opacity: 0.90;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 10px;
}

.alert {
    /* Font styling */
    font-family: 'Varela Round' !important;
    font-size: 14px;
    line-height: 16px;
}

#alert-text {
    margin-right: -30px;
}

.close {
    margin: -10px;
    margin-left: -30px;
}

.custom-form .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height: auto;
}

.custom-form .form-group {
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}

.main-form {
    position: relative;
}

.login-group {
    /*color: #999999;*/
    border-radius: 8px;
}

.login-group-checkbox {
    padding-top: 10px;
    border: 0 !important;
}

/* Main form contents */
.form-title {
    font-size: 30px;
    font-style: bold;
    text-align: center;
    width: 100%;
}

.etc-custom-form {
    border: 0 !important;
    border-style: none;
    font-style: bold;
    text-align: center;
}

.modal-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remember_me {
    margin-top: 10px;
}

a {
    color: #aaaaaa;
    transition: all ease-in-out 300ms;
}
a:hover {
    color: #333333;
    text-decoration: none;
}

/* Login button */
.custom-form .submit-button {
    position: absolute;
    right: -25px;
    top: 45%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.custom-form .submit-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.custom-form .submit-button.clicked {
    color: #555555;
}
.custom-form .submit-button.clicked:hover {
    transform: none;
}
.custom-form .submit-button.clicked.success {
    color: #2ecc71;
}
.custom-form .submit-button.clicked.error {
    color: #e74c3c;
}

/*
 *  Only Login form should be visible by default.
 *  Hide Registration, Forgot Password forms;
 *  these become visible when user clicks on their
 *  respective links
 */
#login {
    display: inline-block;
}

#register {
    display: none;
}

#forgot {
  display: none;
}

.navbar-dark {
    background-color: #2E4BB1;
}

.jumbotron-fluid {
    background-color: #CCCCCC;
    margin-top: 55px;
    padding-top: 35px;
    padding-bottom: 35px;
    /*max-height: 200px;*/
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}


.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.carousel-item {
  height: 250px;
}


.carousel-img-1 {
  background: url('../images/boarding_pass.png') no-repeat center center;
}

.carousel-img-2 {
  background: url('../images/low_fare_calendar.png') no-repeat center center;
}

.carousel {
    padding-top: 65px;

}

.carousel-header-count {
    font-size: 60px;
}

@media (min-width : 992px) {
    /* Large Devices, Wide Screens */

    .carousel-caption {
    }

    .carousel-caption-long {
        margin-top: -15px;
    }
}

@media (max-width : 480px) {
    /* Extra small screens */
    .jumbotron-fluid {
        max-height: 125px;
    }
    .jumbotron-title {
        font-size: 20px;
        font-style: bold;
    }
    .jumbotron-subtitle {
        font-size: 14px;
    }

    .carousel-caption-long {
      margin-top: -10px;
    }

    .carousel-header {
        font-size: 16px;
        font-style: bold;
    }

    .carousel-text {
        font-size: 12px;
    }
}

.carousel-indicators .active {
    background-color: white;
}

.carousel-indicators li {
    border:1px solid #444;
}

.carousel-control-prev-icon {
    margin-left: -25px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    margin-right: -25px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#carouselButtons {
    right: 0px;
    position: absolute;
    bottom: 0px;
}

#carouselButton {
    color: #CCCCCC;
    background-color: black;
}

#contact_form {
    background-color: white;
}

#feedback-header {
    text-align: left;
    background-color: white;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }


.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.contact_container {
    background-color: white;
}