html, body {
    font-family: 'Varela Round';
    text-align: center;

    background: url('../images/route_map.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    background-position: center 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

#header {
    /* Place on top of page taking entire width */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #FFBF27;
    padding: 15px;
    border: 2px solid #ffffff;
}

#header-content-1 {
    font-size: 26px;
    font-weight: bold;
}

#header-content-2 {
    font-size: 18px;
}

#header-content3-small {
    font-size: 12px;
    vertical-align:middle;
}

.custom-form {
    /* Allow absolute centering of children */
    position: relative;

    text-align: center;

    /* Center with top margin to offset header */
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;

    /* Add some blank space above and below text */
    padding-top: 25px;
    padding-bottom: 20px;

    /* Sizing */
    max-width: 450px;
    width: 100%;

    /* Transparent background */
    background-color: #ffffff;
    opacity: 0.90;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 10px;
}

.alert {
    /* Font styling */
    font-family: 'Varela Round' !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    /* Absolute centering within container */
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 20px;
    padding-bottom: 5px;

    /* Sizing */
    width: 350px;

    /* In front of any other element */
    z-index: 999;

    /* Allows for centering text vertically */
    display: table;
}

.alert-text {
    /* Center text vertically */
    display:table-cell;
    vertical-align:middle;

    text-align: left;

    /* Offset addition of close icon */
    padding-left: 20px;
}

.close {
    margin: -10px;
    margin-left: -30px;
}

.form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height: auto;
}

.custom-form .form-group {
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    width: 300px;
    margin-top: 10px;

}

.main-form {
    position: relative;
}

.login-group {
    background: #ffffff;
    /*color: #999999;*/
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 35px;
}

.login-group-checkbox {
    padding-top: 10px;
    border: 0 !important;
    text-align: left;
}

/* Main form contents */
.form-title {
    font-size: 30px;
    font-style: bold;
    text-align: center;
    width: 100%;
}

.etc-custom-form {
    border: 0 !important;
    border-style: none;
    font-style: bold;
    text-align: center;
    margin-top: 10px;
}

.help_text {
    font-size: 14px;
    font-style: normal;
}

a {
    color: #aaaaaa;
    transition: all ease-in-out 300ms;
}
a:hover {
    color: #333333;
    text-decoration: none;
}

/* Login button */
.custom-form .submit-button {
    position: absolute;
    right: -25px;
    top: 45%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.custom-form .submit-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.custom-form .submit-button.clicked {
    color: #555555;
}
.custom-form .submit-button.clicked:hover {
    transform: none;
}
.custom-form .submit-button.clicked.success {
    color: #2ecc71;
}
.custom-form .submit-button.clicked.error {
    color: #e74c3c;
}

#forgot {
  display: inline-block;
}