html, body {
    font-family: 'Varela Round' !important;
    text-align: center;

    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;

    background: url('../images/heartone.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 0px;
}

.header {
    position: relative;
    color: #ffffff;
    background-color: #304CB2;
    width: 100%;
    width: 100vw;
    padding: 20px;
    height: 120px;
    border: 2px solid #ffffff;
    text-align: left;
}

#name {
    margin-left: 20px; /* must match padding: X of parent */
    font-size: 22px;
    font-weight: bold;
}

#flights-tracked {
    margin-left: 20px; /* must match padding: X of parent */
    font-size: 12px;
}

.header-2 {
    position: relative;
    width: 100%;
    width: 100vw;
    height: 40px;
    background-color: #FFBF27;
    border: 2px solid #ffffff;
    border-top: none;
    color: #111B40;
    display: table;
}

#header-content-2 {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
}

#logout {
    margin-left: 5px;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

#logout-link {
    line-height: 16px;
}

#logout-link:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}

#logout-icon {
    float: left;
    margin-right: 2px;
    margin-top: 3px;
    margin-left: 20px;
}

.form-container {
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #F9B612 !important;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-wrapper {
    background-color: #ffffff;
    border-radius: 5px;
    /* flex display + auto margin = center element within container */
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 85%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: row;
}

#checkin-form {
    width: 80%;
    /* center it horizontally wrt container */
    margin: 0 auto;
    text-align: left;
}

.form-title {
    font-size: 20px;
    font-style: bold;
    padding-bottom: 10px;
}

.form-subtitle {
    font-size: 12px;
    font-style: normal;
    padding-bottom: 10px;
}

.main-form {
    font-size: 12px;
}

#submit_button {
    background-color: #FFBF27;
    color: #111B40;
    font-size: 14px;
    font-style: bold;
    width: 85%;
    height: 45px;
    /* top left bottom right */
    margin: 30px 0px 0px 20px;
    overflow: hidden;
    display: block;
    text-align: center;
    padding: 0;

    /* Rounded Corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: none;
}

#submit_button:active {
    border-style: solid !important;
    border: 2px;
    color: #111B40;
    box-shadow: 0 1px #111B40;
    transform: translateY(4px);
}

#submit_button:hover {
    /* hand pointer */
    cursor: pointer;
    margin-top: 30px;

    /*Shadow*/
    -webkit-box-shadow: 0px 2px 0px rgba(237, 234, 229, 1);
    -moz-box-shadow: 0px 2px 0px rgba(237, 234, 229, 1);
    box-shadow: 0px 2px 0px rgba(237, 234, 229, 1));

    /*Gradient*/
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 184, 77, 1));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 184, 77, 1));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 184, 77, 1));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 184, 77, 1));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 184, 77, 1));
}

.disclosures-wrapper {
    width: 85%;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;

}

#spinner {
    position: inline-block;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 15px;
    margin-top: 15px;
}


.alert {
    /* Font styling */
    font-family: 'Varela Round' !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    /* Absolute centering within container */
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    /* Sizing */
    width: 350px;
    max-height: 75px;

    /* In front of any other element */
    z-index: 999;

    /* Allows for centering text vertically */
    display: table;
}

.alert-text {
    /* Center text vertically */
    display:table-cell;
    vertical-align:middle;

    text-align: left;

    /* Offset addition of close icon */
    padding-left: 20px;
}

.close {
    margin: -10px;
    margin-left: -30px;
}


.navbar-dark {
    background-color: #2E4BB1;
}

.jumbotron-fluid {
    background-color: #CCCCCC;
    margin-top: 55px;
    padding-top: 35px;
    padding-bottom: 35px;
    /*max-height: 200px;*/
    text-align: left;
}

@media (min-width : 992px) {
    /* Large Devices, Wide Screens */
}

@media (max-width : 480px) {
    /* Extra small screens */
    .jumbotron-fluid {
        max-height: 135px;
        padding-bottom: 40px;
    }
    .jumbotron-title {
        font-size: 20px;
        font-style: bold;
    }
    .jumbotron-subtitle {
        font-size: 14px;
    }
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }


.row-content {
  margin: 0px auto;
  padding: 0px 0px;
  min-height: 400px; }


.contact-container {
    background-color: white;
}

.breadcrumb {
    margin-top: -1px;
    margin-bottom: -1px;
    parding: 0px;
}

@media (max-width : 480px) {
    /* Extra small screens */
    .breadcrumb {
        margin-top: -3px;
    }

}