{% extends 'base.html' %}
{% load staticfiles %}
{% load version %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#confirmPasswordChange').modal('show');
        });
    </script>

    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- mr-auto specifies the right margin; as left as possible -->
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span class="fa fa-home fa-lg"></span> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactus">
                            <span class="fa fa-address-card fa-lg"></span> Contact</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a data-toggle="modal" data-target="#loginModal">
                        <span class="fa fa-sign-in"></span> Login
                    </a>
                </span>
            </div>
        </div>
    </nav>

    {% if validlink %}
        <div id="confirmPasswordChange" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" role="content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title ml-auto">reset password</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-row modal-row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <a>Enter a strong password below to finalize the process</a>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="form-row modal-row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">{{ form.new_password1 }}</div>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="form-row modal-row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">{{ form.new_password2 }}</div>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="form-row modal-row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-warning" value="Reset password" name="action">Submit</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </form>


                        <script type="text/javascript">
                            /* Use bootstrap class for password input */
                            document.getElementById("id_new_password1").className = "form-control";
                            /* Set placeholder text */
                            document.getElementById('id_new_password1').placeholder = 'Enter New Password';
                            /* Use bootstrap class for password input confirmation */
                            document.getElementById("id_new_password2").className = "form-control";
                            /* Set placeholder text */
                            document.getElementById('id_new_password2').placeholder = 'Confirm New Password';
                        </script>

                        {% for message in messages %}
                          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                              <span class="alert-text">
                                {{ message }}
                              </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endfor %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                              <div class="alert alert-danger alert-dismissible" role="alert">
                                  <span class="alert-text">
                                    {{ error|escape }}
                                  </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Password reset unsuccessful</h1>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <span id="alert-text">This link is no longer valid. Request a new one through the 'forgot my password' link on the main website.</span>
                <button id="dismiss-alert-button" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

                <script type="text/javascript">
                    /* Redirect to login page after dismissing alert */
                    document.getElementById("dismiss-alert-button").onclick = function () {
                        location.href = "/";
                    };
                </script>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
