{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'autocheckin/css/autocheckin.css' %}">
{% endblock header %}

{% block content %}
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- mr-auto specifies the right margin; as left as possible -->
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <span class="fas fa-home"></span> Home</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/autocheckin">
                                <span class="fas fa-plane-departure"></span> Add Reservation</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">
                            <span class="fas fa-address-card"></span> Contact</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="logout-link">
                            <span class="fas fa-sign-out-alt"></span> Log out
                        </a>
                    {% else %}
                        <a data-toggle="modal" data-target="#loginModal">
                            <span class="fas fa-sign-in-alt"></span> Login
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>

    <header class="jumbotron-fluid">
        <div class="row row-header">
            <div class="col-1 col-sm-2"></div>
            <div class="col-10 col-sm-8">
                {% if user.is_authenticated %}
                    <h3 class="jumbotron-title">Welcome back, {{ name }}.</h3>
                    <p class="jumbotron-subtitle">Currently tracking {{ flights }} of your Southwest&reg flights.</p>
                {% endif %}
            </div>
            <div class="col-1 col-sm-2"></div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-12 col-sm-10">
                {% for message in messages %}
                    {% if message.extra_tags == 'forgotpassword-alert' %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="forgotpassword-alert">
                          <span class="alert-text">
                            {{ message }}
                          </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endif %}
                {% endfor %}

                {% if autocheckin_form.errors %}
                    {% for field in autocheckin_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in autocheckin_form.non_field_errors %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <span class="alert-text">
                            {{ error|escape }}
                          </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/login">Home</a>
                </li>
                <li class="breadcrumb-item active">Automatic Check-In and Fare Tracker</li>
            </ol>
        </div>
        <div class="row row-content">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 form-container">
                <form action="/autocheckin/" method="post" role="form" id="checkin-form">
                    {% csrf_token %}
                    <div class="form-title">Enter Passenger Information.</div>
                    <div class="form-subtitle">Provide the information below to be automatically checked in to your flight 24 hours prior to its departure.</div>
                    <div class="form-subtitle"><span class="req">*</span> Required</div>

                    <div class="main-form">
                        <div class="form-group">
                            <label class="control-label">CONFIRMATION #<span class="req"> *</span></label>
                                {{ autocheckin_form.confirmation_number }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">FIRST NAME<span class="req"> *</span></label>
                            {{ autocheckin_form.first_name }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">LAST NAME<span class="req"> *</span></label>
                            {{ autocheckin_form.last_name }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">EMAIL ADDRESS<span class="req"> *</span></label>
                            {{ autocheckin_form.email_address }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">BOARDING PASS DELIVERY METHOD<span class="req"> *</span></label>
                            {{ autocheckin_form.boarding_pass_delivery_type }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">DELIVER BOARDING PASS TO<span class="req"> *</span></label>
                            {{ autocheckin_form.boarding_pass_deliver_to }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">SAVE ME MONEY:<span class="req"> *</span></label>
                            {{ autocheckin_form.save_on_fare_drops }}
                        </div>

                        <div class="form-group">
                            <button type="submit" name="action" id="submit_button" value="Sign up">Sign Up</button>
                        </div>
                    </div>
                </form>
                <div class="disclosures-wrapper">
                    <p><b>Please Note</b></p>
                    <p><b>• 24 hours prior to departure:</b> Southwest Watchdog will check in to your flight. The data provided in this form must exactly match an existing reservation.</p>
                    <p><b>• Email Address/Phone Number:</b> your information will not be shared to any 3rd party (including, but not limited to Southwest Airlines).</p>
                    <p><b>• Save Me Money:</b> This feature tracks the cost of your flight. If at anytime before departure the flight is sold for less than what you paid for, we will perform steps to get you the price difference issued as credit to your flight reservation.</p>
                </div>

                <div id="spinner">
                    <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
    </div>

    <script>
        $(document).ready(function() {
            $("#spinner").hide();
            console.log("page finished loading");

            var frm = $('#checkin-form');
            frm.submit(function(e) {
                console.log("checkin-form submitted");
                $("#spinner").show();
                e.preventDefault();
                console.log("stop immediate prop");
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    context: this,
                    success: function (data) {
                        if (data.success) {
                            console.log('redirecting to: ' + data.url);
                            window.location.replace(data.url);
                        } else {
                            console.log('error processing reservation');
                            window.location.replace(data.url);
                        }
                    },
                    error: function (data) {
                        console.log("error");
                    }
                });
                return false;
            });
        });
    </script>
{% endblock content %}

