<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    {% block header %}
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'southwestwatchdog/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'southwestwatchdog/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'southwestwatchdog/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'southwestwatchdog/fontawesome-free/css/all.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <script defer src="{% static 'southwestwatchdog/fontawesome-free/js/all.js' %}"></script>

    <!-- Form * required style (red) -->
    <link href="https://protostrap.com/Assets/gv/css/gv.bootstrap-form.css" rel="stylesheet" type="text/css" />

    <!--- Add favicon across all pages in project --->
    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="{% static 'southwestwatchdog/images/favicon_16x16.png' %}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{% static 'southwestwatchdog/images/favicon_32x32.png' %}" sizes="32x32"/>
    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href="{% static 'southwestwatchdog/images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'southwestwatchdog/images/favicon.ico' %}"/>
    {% endblock %}
    {% block title %}<title>Southwest Watchdog -- Auto Flight Check-In and Fare Tracker</title>{% endblock %}
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="{% static 'southwestwatchdog/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'southwestwatchdog/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'southwestwatchdog/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block content %}{% endblock content %}
</body>
</html>